@using Counters.Models;
@model IndexViewModel
@addTagHelper *, Counters
@{
    Layout = "_Layout";
    ViewData["Title"] = "Index";
}
<!DOCTYPE html>

<html>
<head>
    <title>Список всех позиций</title>
</head>
<body>
    <h3>Counters</h3>
    <form method="get">
        <div>
            <label>ID:</label>
            <input name="selectID" value="@Model.FilterViewModel.SelectedID" />
            <label>Number:</label>
            <input name="selectNumber" value="@Model.FilterViewModel.SelectedNumber" />
            <label>Value:</label>
            <input name="selectValue" value="@Model.FilterViewModel.SelectedValue" />

            <input type="submit" value="Фильтр" />
        </div>
    </form>
    <br />
    <table>
        <tr>
            <th>
                <sort-header action="Index" up="@Model.SortViewModel.Up"
                             current="@Model.SortViewModel.Current" property="@Model.SortViewModel.IDSort"
                             filter-view-model="@Model.FilterViewModel">
                    ID
                </sort-header>
            </th>
            <th>
                <sort-header action="Index" up="@Model.SortViewModel.Up"
                             current="@Model.SortViewModel.Current" property="@Model.SortViewModel.NumberSort"
                             filter-view-model="@Model.FilterViewModel">
                    Number
                </sort-header>
            </th>
            <th>
                <sort-header action="Index" up="@Model.SortViewModel.Up"
                             current="@Model.SortViewModel.Current" property="@Model.SortViewModel.ValueSort"
                             filter-view-model="@Model.FilterViewModel">
                    Value
                </sort-header>
            </th>
        </tr>
        @foreach (var counter in Model.Counters)
        {
            <tr>
                <td>@(counter.ID + 8)</td>
                <td>@counter.Number</td>
                <td>@counter.Value</td>
            </tr>
        }
    </table>
    <page-link page-model="Model.PageViewModel" page-action="Index" filter-view-model="@Model.FilterViewModel">
    </page-link>
</body>
</html>
